<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>木生火</string>
		<key>character</key>
		<string>自我意識強、自尊心強、善攻心計、具猜疑、會編撰、有創意、心性隱藏、不服翰、易感性、主觀、判斷力強、果斷</string>
		<key>activeness</key>
		<string>偶爾會衝動、不穩定、主動、積極</string>
		<key>handleAffairs</key>
		<string>雖敬業但也易好高驚遠、講求實力、敢突破、能吃苦、冒險性、負責任</string>
		<key>attitude</key>
		<string>崇拜能者、排斥昏庸</string>
		<key>goodPoint</key>
		<string>善以德服人、用人以情、善教化、思緒敏銳、冷靜、深藏不露</string>
		<key>weekPoint</key>
		<string>感性、過於先進、嫉妒心較強、易激動，而造成人際失敗、一生替別人打拼、過於主觀、好高駑遠</string>
		<key>bornLucky</key>
		<string>時機、創意</string>
		<key>career</key>
		<string>編撰、教育、幕僚、自由業、生產、技術、發明創意性、改革性、軍、政、警、管理</string>
		<key>lifeOutlook</key>
		<string>教化、改革（變新）</string>
		<key>postscript</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>土生金</string>
		<key>character</key>
		<string>善於承接、規律形、過於頑固而導致人際破壞、擅整理、具凝聚力、保護性較強、家族形之性格、具說服力好講理、不太敢突破、穩定、保守、執著</string>
		<key>activeness</key>
		<string>份外事較被動、（接受指令）、吃苦耐勞（限於家族親人）、份內事積極主動、規律</string>
		<key>handleAffairs</key>
		<string>踏實、喜有明確指示而行、講求道理、制度、規則、法條</string>
		<key>attitude</key>
		<string>喜好性強（敵我分明）、時會直來直往、喜怒形於色、時顯頑固、不易改變</string>
		<key>goodPoint</key>
		<string>暗藏說服力、善整理、保選主 義強（無把提則不做）、循例發揮的潛力</string>
		<key>weekPoint</key>
		<string>喜性好強、不易接受諫言（接受奉承）、好講道理、易受影響（行動功能為土生金者易受恩想功能五行影響）、過於執著</string>
		<key>bornLucky</key>
		<string>承接、守業（無家業者找好老關或好老公）</string>
		<key>career</key>
		<string>家族事業、技術性行業、建築葉、工程業、公職人員、政治</string>
		<key>lifeOutlook</key>
		<string>一生求穩定</string>
		<key>postscript</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>水生木</string>
		<key>character</key>
		<string>多思、喜以攀附為主、保守、穩定、女性較勞心勞力(尤以行動功能者）、時耳根軟、愛幻想、聰明、善於分析、幕僚輔佐功能強</string>
		<key>activeness</key>
		<string>穩定（中性）前進、不急不綅稍具耐力</string>
		<key>handleAffairs</key>
		<string>善追隨、攀附及借力侦力（行動功能為此者較懂吸收人才）偶以聯合為主</string>
		<key>attitude</key>
		<string>看上不看下（尊上）、對下易犯沖、保守</string>
		<key>goodPoint</key>
		<string>心較細、輔佐、攀附、策畫（恩想功能為水生木）</string>
		<key>weekPoint</key>
		<string>耳根軟、嚴重的幻想力、若沒得攀附易好逸惡勞、挑剔、怕壓力</string>
		<key>bornLucky</key>
		<string>提拔、扶持（攀附）、(無人提拔一生不得志）</string>
		<key>career</key>
		<string>公職、秘書、助理、幕僚、設計、合夥事業、輔佐</string>
		<key>lifeOutlook</key>
		<string>穩定、盡心盡力</string>
		<key>postscript</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>火生土</string>
		<key>character</key>
		<string>外柔內倔、保護主義較強（排外）、反應快、成功後善掌控（分裂性）、不易相信別人、未成功前呈穩定、配合、工作能力強、稍具勞碌相（尤為女性或陰性者）、反應激烈（火生土只有偶而）、效忠(火生土缺乏安全感故比較相信自己）</string>
		<key>activeness</key>
		<string>實際、爆發力強、主動、活動性</string>
		<key>handleAffairs</key>
		<string>初期配合後期操控（喜強势領導）、講求效率及利益、具投機性、會變化</string>
		<key>attitude</key>
		<string>對自己人較嚴格、親和性較弱、排外性強</string>
		<key>goodPoint</key>
		<string>工作能力強、效率好、時會配合追隨、學習能力強、積極、競爭精神強</string>
		<key>weekPoint</key>
		<string>保護主義強、缺乏安全感、分裂性、排斥性</string>
		<key>bornLucky</key>
		<string>直屬長輩及配偶</string>
		<key>career</key>
		<string>仲介、公職、政治、店業、獨資形、金融、會計、買賣、服務</string>
		<key>lifeOutlook</key>
		<string>講求擁有、安全感、威權主義</string>
		<key>postscript</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>金生水</string>
		<key>character</key>
		<string>心思較細、怕被瞭解、會效忠護主、殺力堅定、時會多愁善感、適應性強、研究、分析恩考、耐力十足</string>
		<key>activeness</key>
		<string>較積極、有持續力、不易半途而廢、有耐力</string>
		<key>handleAffairs</key>
		<string>堅持、善於讓人妥協、談判形的人格、謹慎、善溝通</string>
		<key>attitude</key>
		<string>內心堅定（固執？）、溫和、具同情心</string>
		<key>goodPoint</key>
		<string>忠心、吃苦耐勞、有毅力（不易被擊倒）、耐心、溝通協調</string>
		<key>weekPoint</key>
		<string>有時會假傳聖旨、容易有自卑感、若誤入歧途也不易回頭、太堅持理念、優柔寡斷</string>
		<key>bornLucky</key>
		<string>長上人際關係</string>
		<key>career</key>
		<string>外交、醫教、百貨業、飲食業、公職、公關、娱樂業、化工、雷業（電子、電纜、電腦）、技術性</string>
		<key>lifeOutlook</key>
		<string>老二哲學、喜歡詩情畫意、講求浪漫</string>
		<key>postscript</key>
		<string></string>
	</dict>
</array>
</plist>
