<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>木平宮</string>
		<key>character</key>
		<string>雙重人格形，有潛在的主觀意識，時又缺乏主見。喜以言</string>
		<key>activeness</key>
		<string>比較懂得深思而行，故有顯的慢半拍的現象，持續力很強，對不明朗的事容易裹足不前。</string>
		<key>handleAffairs</key>
		<string></string>
		<key>attitude</key>
		<string></string>
		<key>goodPoint</key>
		<string></string>
		<key>weekPoint</key>
		<string></string>
		<key>bornLucky</key>
		<string></string>
		<key>career</key>
		<string>金融業、買賣業、軍公職、法律、醫生、幕僚副手、公益事業、文教、服務業。</string>
		<key>lifeOutlook</key>
		<string></string>
		<key>postscript</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>水平宮</string>
		<key>character</key>
		<string>耿直（看似很隨和 其買很直率），有言必說 口直心快，鳴則己，• 一鳴驚人，易得罪人。居安思危形，易趨向保守，看似放的開，其買小心謹慎，算術概念比較強（數字天份比較高）•善於經營，模仿力、侵触力很強。有利必圖，敬業精神好，是商人形的性格•唯有比較缺乏圓融，有時過於會算反而失去人和（針對失敗或下層次的人而言）。◎水旺形沒有任何一組搭配時，則呈現其直性，只要有搭配到任何一組組合時，則减缓其直性。</string>
		<key>activeness</key>
		<string>緩急不定，無利益則缓，甚而逃之，有利益則急，並積極語影響別人或稱為說服力，但又不強烈。附著力強很懂得依附著別人成長 這種功能有勝過水生木。有時很剛強，有時很軟弱或不堪一擊，有時很容易動搖。保護主義比較強。雖有革命時期的改革心，卻又缺乏行動力•很容易打退堂鼓，易雞蛋裡面挑骨頭。</string>
		<key>handleAffairs</key>
		<string>◎陽性反應者，屬實力派。稍具衝動，或愛辯博駁•◎陰性反應者 •屬機運派。較具穩定，容易自戀•-動作力在沒有肯定目標前不會主動，也不積極，言多於行，耐性不夠。時機成熟後就很積極。</string>
		<key>attitude</key>
		<string></string>
		<key>goodPoint</key>
		<string></string>
		<key>weekPoint</key>
		<string></string>
		<key>bornLucky</key>
		<string></string>
		<key>career</key>
		<string>政治、公務員、學者、文教事業、律師、自由業、管理層宜在穩定形的企業、不適合五鬼行業、投機業。</string>
		<key>lifeOutlook</key>
		<string></string>
		<key>postscript</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>火平宮</string>
		<key>character</key>
		<string>自主性很強，很有主見，不容昜被影響，判斷敏銳，很懂得突顯、表現自己，也最懂得替自己爭取，聰明、活耀、不死板，是屬於公關型的高手，反應快 •變化速度很快，學習能力很強 ，稍具急性，行事積極 ，比較在乎自己的思考邏輯•是以自己為中心的性格(尤其以陰性反應者），也最容易自我放棄（富他覺的沒希望的時候），堅持力比較不夠。</string>
		<key>activeness</key>
		<string></string>
		<key>handleAffairs</key>
		<string></string>
		<key>attitude</key>
		<string>快速、主動、積極、善於展現自己，爆發力強，但不持久。</string>
		<key>goodPoint</key>
		<string></string>
		<key>weekPoint</key>
		<string></string>
		<key>bornLucky</key>
		<string></string>
		<key>career</key>
		<string>政治、公關、服務、貿易買賣業、公益事業、藝術、演藝事業。</string>
		<key>lifeOutlook</key>
		<string></string>
		<key>postscript</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>土平宮</string>
		<key>character</key>
		<string>隨合、比較圓融，吸引力、聚合力很強尤其以陽性反應者。不容易讓人有抗性讓人有安全感。比較懂的採納他人意見，善於與人合作，善於淮整、組合。擇善固執，有時顯的鬆散，易讓人覺的沒有原則及懶散這一點與木剋士和士生金不同，偶巾也會有僵化現象。◎思想功能與行動功能均會受另一組合影響而變化土旺形配合另一種組合的變化性最大。◎陽性反應者，吸引力、聚合力較強。◎陰性反應者，組合匯整能力較強。</string>
		<key>activeness</key>
		<string>雖然求穩定，但很積極尤其對既定的目標 比較懂的主動爭取，比較不會衝動，較有持續力。</string>
		<key>handleAffairs</key>
		<string></string>
		<key>attitude</key>
		<string></string>
		<key>goodPoint</key>
		<string></string>
		<key>weekPoint</key>
		<string></string>
		<key>bornLucky</key>
		<string></string>
		<key>career</key>
		<string>政治家（聚合力強）。作家（整理性強），金融業（匯集等於金庫），合夥事業，建築環保工程，房地產、交通業、服務業（尤其是飯店餐飲、五鬼行業）。</string>
		<key>lifeOutlook</key>
		<string></string>
		<key>postscript</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>金平宮</string>
		<key>character</key>
		<string>善於思考，心思細密。不浮於表，反應不會很快•很容易讓人有優柔寡斷的感覺。不強出頭，勇於認錯，對認定的人、事物很堅持。雖然容易溝通，但不一定會妥協（給人雞以捉摸的感覺）。比較喜歡低調行事 •謹言慎行 不太會正面與人衝突，很懂的修飾，美化及掩飾自己，不容易被發現缺點。是屬於很被看好、被欣賞的一種性格組合。◎金質可以反覆使用，不失本質，因此與任何一種五形搭配變化很大，都會顯示他的不同優點。</string>
		<key>activeness</key>
		<string></string>
		<key>handleAffairs</key>
		<string></string>
		<key>attitude</key>
		<string></string>
		<key>goodPoint</key>
		<string></string>
		<key>weekPoint</key>
		<string></string>
		<key>bornLucky</key>
		<string></string>
		<key>career</key>
		<string></string>
		<key>lifeOutlook</key>
		<string></string>
		<key>postscript</key>
		<string></string>
	</dict>
</array>
</plist>
